<section id="review">
	<!-- review -->
	<div class="container bg-info">
		<div class="row">
			<div class="col-lg-12">
				<div class="review" style="height: 300px;">

					<blockquote class="blockquote-reverse">
						<p><i><b>Great external app for Mendix modeller! </b></i></p>
						<p><i>We use this app very often in our team to track down causes of bug in Mendix app. </i></p>
					</blockquote>

					<blockquote class="blockquote-reverse">
						<p><i><b>This tool is very valuable</b></i></p>
					</blockquote>

					<blockquote class="blockquote-reverse">
						<p><i><b>Excelllent to review all changes</b></i></p>
					</blockquote>

				</div>
			</div>
		</div>
	</div>
</section>